@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.5%;
}


/* ============NAVBAR START============== */
nav{
    padding: 20px 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo h2 a{
    font-size: 4rem;
    color: black;
    font-weight: 800;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a{
    font-size: 1.8rem;
    padding: 10px 20px;
    color: black;
    font-weight: 400;
}

.menu-btn{
    display: none;
}
/* ============NAVBAR END============== */







/* ============HERO SECTION START============== */
.hero-sec{
    padding: 50px 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-flow: row wrap;
    gap: 40px;

    background-color: rgba(0, 128, 128, 0.174);
}
.hero-sec .text-sec,
.hero-sec .img-sec{
    width: 45%;
    height: 300px;
    background-color: teal;
    border-radius: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 0 287.3px;
}
.hero-sec .text-sec h2,
.hero-sec .img-sec h2{
    font-size: 4rem;
    color: white;
    text-align: center;
}
/* ============HERO SECTION END============== */













/* ============PORTFOLIO SECTION START============== */
.portfolio-sec{
    padding: 50px 10%;
    background-color: rgba(220, 20, 60, 0.158);
}
.portfolio-sec h2{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 40px;
}
.portfolio-sec .cards{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-flow: row wrap;

    gap: 40px;
}
.portfolio-sec .cards .card{
    background-color: crimson;
    height: 300px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 1 246.43px;

    border-radius: 30px;
}
.portfolio-sec .cards .card h3{
    font-size: 4rem;
    color: white;
}
/* ============PORTFOLIO SECTION END============== */










/* ============SERVICE SECTION START============== */
.service-sec{
    padding: 50px 10%;
    background-color: rgba(255, 192, 203, 0.206);
}
.service-sec h2{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 50px;
}
.service-sec .cards{
    display: flex;
    align-items: center;
    justify-content: center;

    

    flex-flow: row wrap;

    gap: 40px;
}
.service-sec .cards .card{
    background-color: pink;
    height: 300px;
    text-align: center;
    border-radius: 30px;
    font-size: 4rem;
    font-weight: 800;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 1 246.43px;
}
/* ============SERVICE SECTION END============== */










/* ============CONTACT SECTION START============== */
.contact-sec{
    padding: 50px 10%;
    background-color: rgba(255, 99, 71, 0.132);
}
.contact-sec h2{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 50px;
}
.contact-sec .form-and-img{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-flow: row wrap;
    gap: 40px;

}
.contact-sec .form-and-img .form,
.contact-sec .form-and-img .img{
    background-color: tomato;
    font-size: 4rem;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 1 287.3px;
}
/* ============CONTACT SECTION END============== */













/* ===============MEDIA QUERIS=============== */

@media screen and (max-width: 1024px){
    :root {
        font-size: 56.25%;
    }




    nav ul li{
        margin: 0 5px;
    }
    nav ul li a{
        padding: 7px 15px;
    }
}









@media screen and (max-width: 768px){
    nav{
        position: relative;
    }
    nav ul{
        position: absolute;
        top: 95px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 95px);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: white;

        z-index: 5;

        transition: .5s;
    }
    nav ul li{
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    nav ul li a{
        display: inline-block;
        width: 100%;
        font-size: 2rem;
    }




    nav .menu-btn{
        display: inline-block;
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;

    }
    nav .menu-btn i{
        font-size: 2.5rem;
        margin: 5px 15px;
    }



    #menu:checked ~ ul{
        left: 0%;
    }










    
    .hero-sec .text-sec,
    .hero-sec .img-sec{
        flex: 1 1 287.3px;
    }
    .hero-sec .text-sec{
        order: 2;
    }











    .contact-sec .form-and-img .form{
        order: 2;
    }
}